:root {
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --font-body: 18px;
  --font-semibold: 600;
  --font-bold: 700;
  --font-regular: 400;
  --font-poppins: "Poppins", sans-serif;
  --font-os: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

/* ! Desktop Version */
/* .header__container {
  background-color: var(--very-pale-cyan);
  z-index: -1;
  background-image: url(./images/bg-hero-desktop.svg);
}

.navbar {
  position: relative;
}

.navbar__logo {
  margin: 2rem 0 0 3rem;
  height: 1.5rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
  position: relative;
}

.hero__content {
  font-family: var(--font-poppins);
  margin-left: 3rem;
  margin-top: 5rem;
}

.hero__heading {
  width: 46%;
  color: var(--very-dark-cyan);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero__description {
  margin-bottom: 3rem;
  width: 56%;
  font-weight: 500;
  color: var(--very-dark-cyan);
  font-family: var(--font-os);
}

.btn {
  text-decoration: none;
}

.btn-get-started {
  background-color: var(--pink);
  padding-inline: 3rem;
  padding-block: 0.9rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-family: var(--font-os);
  font-weight: 700;
  color: white;
}

.btn-cta {
  right: 3rem;
  top: 1.5rem;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: var(--font-bold);
  color: var(--very-dark-cyan);
  box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.hero__img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  height: 32rem;
}

.grid {
  padding: 3em;
}

.grid-container {
  display: grid;
  border: 0.1px solid var(--grayish-blue);
  grid-template-columns: repeat(2, 1fr);
  margin: 5em;
  position: relative;
  height: 25vh;
  width: fit-content;
  border-radius: 1em;
}

.grid__image {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  height: 14rem;
  top: 0;
  right: 5em;
  position: absolute;
}

.grid__title {
  color: var(--very-dark-cyan);
  font-family: var(--font-poppins);
}

.grid__description {
  margin-top: 1em;
  font-family: var(--font-os);
}

.grid:nth-child(1) {
  width: 64%;
  font-weight: 400;
  color: var(--grayish-blue);
}

.popup-box {
  background-color: white;
  box-shadow: 1px 1px 1px 1px black;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 4em;
  box-shadow: -2px 2px 9px -3px rgba(0, 0, 0, 0.75);
}

.popup-box__title {
  font-family: var(--font-poppins);
  margin-bottom: 2em;
}

footer {
  background-color: var(--very-dark-cyan);
  position: absolute;
  z-index: -1;
  padding: 2em;
}

footer img {
  margin-left: 4em;
}
.footer-item {
  display: flex;
  margin-left: 1em;
  gap: 1em;
}

.footer-item-paragraph,
.footer-item-number,
.footer-item-email {
  color: white;
  font-size: 0.9em;
  font-family: var(--font-os);
}

.footer-item-paragraph {
  width: 89%;
  margin-bottom: 1em;
  color: white;
}

.footer-item-number {
  margin-bottom: 1em;
}

.footer-item-email {
  vertical-align: middle;
}

.footer__links {
  display: flex;
  font-size: 1.1em;
  flex-direction: column;
  color: white;
  font-family: var(--font-os);
  gap: 1em;
  margin-top: 4em;
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
}


.footer-copyright {
  text-align: right;
  color: white;
  font-weight: 400;
  margin-right: 4em;
  font-family: var(--font-os);
}

.footer__social-media {
  margin-top: 4.3em;
}
.footer__social-media ion-icon {
  border: 1px solid currentColor;
  color: white;
  margin-right: 2em;
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.3em;
} */

@media only screen and (max-width: 600px) {
  .header__container {
    background-color: var(--very-pale-cyan);
    z-index: -1;
    background-image: url(./images/bg-hero-desktop.svg);
  }
  .navbar__logo {
    margin-block-start: 2em;
    margin-inline-start: 2em;
    height: 1.3em;
    width: auto;
  }
  .hero__heading {
    font-size: 1.7rem;
    width: 30%;
    margin-top: 2em;
    text-align: center;
  }

  .hero__content {
    font-family: var(--font-poppins);
    text-align: center;
  }

  .hero__heading {
    text-align: center;
    width: 100%;
  }

  .hero__description {
    margin-block: 1rem;
    width: 100%;
    padding-inline: 4.1rem;
    color: var(--very-dark-cyan);
    font-family: var(--font-os);
  }

  .hero__img {
    height: 16rem;
    display: grid;
    place-items: center;
    margin: 4rem auto;
  }

  .hero-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }

  .btn {
    display: grid;
    place-items: center;
    text-decoration: none;
    margin: 0 auto;
    width: fit-content;
  }

  .btn-get-started {
    background-color: var(--pink);
    padding-inline: 3rem;
    padding-block: 0.9rem;
    border-radius: 2rem;
    font-size: 0.8rem;
    font-family: var(--font-os);
    font-weight: 700;
    color: white;
  }

  .btn-cta {
    right: 1rem;
    top: 1.5rem;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-weight: var(--font-bold);
    color: var(--very-dark-cyan);
    box-shadow: 1px 1px 6px -1px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    font-size: 0.8rem;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .grid-container {
    border: none;
  }

  .grid__image {
    margin: 0 auto;
    height: 10em;
    display: grid;
    place-items: center;
  }

  .grid__title {
    color: var(--very-dark-cyan);
    font-family: var(--font-poppins);
  }


  .grid__description {
    text-align: center;
    width: 100%;
    font-family: var(--font-os);
  }

  .grid-content {
    display: grid;
    order: 3;
  }
}
